{% extends "dictionary/layout.html" %}

{% block content %}


<div class="aflevering-overview">

  <p><span class="aflevering">&nbsp;</span></p>

  <p><b><span class="aflevering">Woordenboek
  van de Limburgse Dialecten, Deel I. Agrarische terminologie</span></b></p>

  <p class="citation-line"><span class="aflevering">WLD I.1: dr. A. Weijnen,
  dr. J. Goossens, drs. P. Goossens, <i>WLD I, Inleiding en Aflevering 1.</i> <i>Bemesten
  en ploegen</i>, Assen, 1983.</span></p>

  <p class="citation-line"><span class="aflevering">WLD I.2: dr. A.
  Weijnen, dr. J. Goossens, drs. P. Goossens, <i>WLD I, Aflevering 2. Eggen en
  slepen</i>, Assen 1984.</span></p>

  <p class="citation-line"><span class="aflevering">WLD I.3: drs. J.
  Kruijsen, dr. J. Goossens, <i>WLD I, Aflevering 3</i>. <i>Weidebouw</i>,
  Assen/Maastricht 1991.</span></p>

  <p class="citation-line"><span class="aflevering">WLD I.4: drs. J.
  Kruijsen, dr. J. Goossens, <i>WLD I, Aflevering 4.</i> <i>Verbouw van
  graangewassen</i>, Assen/Maastricht 1992.</span></p>

  <p class="citation-line"><span class="aflevering">WLD I.5: drs. J.
  Kruijsen, dr. J. Goossens, dr. H. Brok, <i>WLD I, Aflevering 5. Verbouw van
  knol- en andere gewassen</i>, Assen 1994.</span></p>

  <p class="citation-line"><span class="aflevering">WLD I.6: dr. J.
  Kruijsen, drs. J. Kokkelmans, <i>WLD I, Aflevering 6.</i> <i>Boerderij,
  bedrijfsgebouwen</i>, Assen 1995.</span></p>

  <p class="citation-line"><span class="aflevering">WLD I.7: dr. J .
  Kruijsen, <i>WLD I, Aflvering 7. Ploegen, bemesten, eggen, spitten etc.</i>,
  Assen 1985.</span></p>

  <p class="citation-line"><span class="aflevering">WLD I.8: dr. H.
  Crompvoets, m.m.v. drs. J. van Schijndel, <i>WLD I, Aflevering 8.</i> <i>Landerijen</i>,
  Assen 2004.</span></p>

  <p class="citation-line"><span class="aflevering">WLD I.9: dr. J.
  Molemans, dr. J. Goossens, <i>WLD I, Aflevering 9.</i> <i>Het paard</i>, Assen
  1994.</span></p>

  <p class="citation-line"><span class="aflevering">WLD I.10: dr. J.
  Molemans, lic. J. Verbeek, dr. J. Goossens, <i>WLD I, Aflevering 10.</i> <i>Paardentuig</i>,
  Assen 1996.</span></p>

  <p class="citation-line"><span class="aflevering">WLD I.11: dr. H.
  Crompvoets, m.m.v. drs. J. van Schijndel, <i>WLD I, Aflevering 11.</i> <i>Rundvee,
  melk en boter, veeteelt algemeen</i>, Assen 2001.</span></p>

  <p class="citation-line"><span class="aflevering">WLD I.12: dr. H.
  Crompvoets, dr. J. Goossens, m.m.v. drs. J. van Schijndel, <i>WLD I, Aflevering
  12.</i> <i>Kleinvee en pluimvee</i>, Assen 1998.</span></p>

  <p class="citation-line"><span class="aflevering">WLD I.13: Lic. M.
  Ooms, dr. J. Goossens, <i>WLD I, Aflevering 13. Landbouwvoertuigen</i>, Assen
  1999.</span></p>

  <p><span class="aflevering">&nbsp;</span></p>

  <p><b><span class="aflevering">Woordenboek
  van de Limburgse Dialecten, Deel II. Niet-agrarische vakterminologieën</span></b></p>

  <p class="citation-line"><span class="aflevering">WLD II.1: dr. H.
  Crompvoets, m.m.v. J. van Schijndel, <i>WLD II, Aflevering 1.</i> <i>Huisslachter
  en bakker</i>, Assen/Maastricht 1986.</span></p>

  <p class="citation-line"><span class="aflevering">WLD II.2: drs. H.
  van de Wijngaard, dr. H. Crompvoets, <i>WLD II, Aflevering 2. Bierbrouwer en
  stroopstoker</i>, Assen/Maastricht 1988.</span></p>

  <p class="citation-line"><span class="aflevering">WLD II.3: drs. H.
  van de Wijngaard, dr. H. Crompvoets, <i>WLD II, Aflevering 3.</i> <i>Molenaar</i>,
  Assen/Maastricht 1991.</span></p>

  <p class="citation-line"><span class="aflevering">WLD II.4: dr. H.
  Crompvoets, drs. H. van de Wijngaard, <i>WLD II, Aflevering 4.</i> <i>Turfsteker
  en ertsontginner</i>, Assen/Maastricht 1987.</span></p>

  <p class="citation-line"><span class="aflevering">WLD II.5: dr. H.
  Crompvoets, drs. H. van de Wijngaard, m.m.v. drs. J. Busch, <i>WLD II, Aflevering
  5.</i> <i>Mijnwerker</i>, Assen/Maastricht 1989.</span></p>

  <p class="citation-line"><span class="aflevering">WLD II.6: dr. H.
  Crompvoets, drs. H. van de Wijngaard, <i>WLD II, Aflevering 6.</i> <i>Imker,
  stro- of buntgrasvlechter</i>, Assen/Maastricht 1991.</span></p>

  <p class="citation-line"><span class="aflevering">WLD II.7: dr. H.
  Crompvoets, drs. H. van de Wijngaard, <i>WLD II, Aflevering 7.</i> <i>Kleermaker,
  naaister, handspinner, handwever, touwslager, mutsenmaakster</i>, Assen 1993.</span></p>

  <p class="citation-line"><span class="aflevering">WLD II.8: drs. H.
  van de Wijngaard, dr. H. Crompvoets, <i>WLD II, Aflevering 8.</i> <i>Pottenbakker,
  steenbakker, pannenbakker, gresbuizenindustrie</i>, Assen 1994.</span></p>

  <p class="citation-line"><span class="aflevering">WLD II.9: drs. H.
  van de Wijngaard, <i>WLD II</i>, <i>Aflevering 9.</i> <i>Metselaar, timmerman,
  dakdekker, loodgieter, stucadoor, huisschilder</i>, Assen 1995.</span></p>

  <p class="citation-line"><span class="aflevering">WLD II.10: dr. H.
  Crompvoets, <i>WLD II</i>, <i>Aflevering 10.</i> <i>Schoenmaker,
  zadelmaker/gareelmaker</i>, Assen 1994.</span></p>

  <p class="citation-line"><span class="aflevering">WLD II.11: drs. H.
  van de Wijngaard, <i>WLD II, Aflevering 11.</i> <i>Smid, loodgieter,
  koperslager</i>, Assen 1998.</span></p>

  <p class="citation-line"><span class="aflevering">WLD II.12: drs. H.
  van de Wijngaard, <i>WLD II, Aflevering 12. Houtzager, timmerman, meubelmaker,
  rad- en wagenmaker, kuiper, klompenmaker, mandenmaker</i>, Assen 2001.</span></p>

  <p><span class="aflevering">&nbsp;</span></p>

  <p><b><span class="aflevering">Woordenboek
  van de Limburgse Dialecten, Deel III, Algemene Woordenschat</span></b></p>

  <p class="citation-line"><span class="aflevering">WLD III, 1.1: lic.
  R. Keulen, <i>WLD III</i>, <i>Sectie 1, De mens als individu, Aflevering 1.</i>
  <i>Het menselijk lichaam</i>, Utrecht 2004.</span></p>

  <p class="citation-line"><span class="aflevering">WLD III, 1.2: lic.
  R. Keulen, <i>WLD III</i>, <i>Sectie 1, De mens als individu, Aflevering 2. Beweging
  en gezondheid</i>, Utrecht 2004.</span></p>

  <p class="citation-line"><span class="aflevering">WLD III, 1.3: lic.
  R. Keulen, <i>WLD III</i>, <i>Sectie 1, De mens als individu, Aflevering 3.
  Kleding en lichamelijke verzorging</i>, Utrecht 2004.</span></p>

  <p class="citation-line"><span class="aflevering">WLD III, 1.4: M.
  Lubbers en drs. H. Van de Wijngaard, <i>WLD III</i>, <i>Sectie 1, De mens als
  individu, Aflevering 4. Karakter en gevoelens</i>, Amsterdam 2008.</span></p>

  <p class="citation-line"><span class="aflevering">WLD III, 2.1: drs.
  H. van de Wijngaard, <i>WLD III, Sectie 2, Het huiselijk leven, Aflevering 1.
  De woning</i>, Assen 2003.</span></p>

  <p class="citation-line"><span class="aflevering">WLD III, 2.2: drs.
  H. van de Wijngaard en M. Lubbers, <i>WLD III, Sectie 2, Het huiselijk leven, Aflevering
  2.</i> <i>Familie en seksualiteit</i>, Utrecht 2005.</span></p>

  <p class="citation-line"><span class="aflevering">WLD III, 2.3: drs.
  H. van de Wijngaard, <i>WLD III, Sectie 2, Het huiselijk leven, Aflevering 3.</i>
  <i>Eten en drinken</i>, Utrecht 2004.</span></p>

  <p class="citation-line"><span class="aflevering">WLD III, 3.1: lic.
  R. Keulen, <i>WLD III, Sectie 3, Het gemeenschapsleven, Aflevering 1.
  Maatschappelijk gedrag, school en onderwijs, </i>Utrecht 2006. </span></p>

  <p class="citation-line"><span class="aflevering">WLD III, 3.2: lic.
  R. Keulen, <i>WLD III, Sectie 3, Het gemeenschapsleven, Aflevering 2. Feest en
  vermaak, </i>Amsterdam 2008. </span></p>

  <p class="citation-line"><span class="aflevering">WLD III, 3.3: lic.
  R. Keulen, <i>WLD III, Sectie 3, Het gemeenschapsleven, Aflevering 3. Kerk en
  geloof, </i>Amsterdam 2008. </span></p>

  <p class="citation-line"><span class="aflevering">WLD III, 4.1: dr.
  J. Kruijsen, <i>WLD III</i>, <i>Inleiding en Sectie 4, De wereld tegenover de
  mens, Fauna, Aflevering 1. Vogels</i>, Assen 2001.</span></p>

  <p class="citation-line"><span class="aflevering">WLD III, 4.2: dr.
  J. Kruijsen, <i>WLD III</i>, <i>Sectie 4, De wereld tegenover de mens, Fauna, Aflevering
  2. Overige dieren</i>, Assen 2001.</span></p>

  <p class="citation-line"><span class="aflevering">WLD III, 4.3: dr.
  J. Kruijsen, m.m.v. dr. H. Brok, <i>WLD III, Sectie 4, De wereld tegenover de
  mens, Aflevering 3.</i> <i>Flora</i>, Assen 2002.</span></p>

  <p class="citation-line"><span class="aflevering">WLD III, 4.4: dr.
  J. Kruijsen, <i>WLD III</i>, <i>Sectie 4, De wereld tegenover de mens, Aflevering
  4. De stoffelijke en abstracte wereld</i>, Utrecht 2004.</span></p>

  <p><span class="aflevering">&nbsp;</span></p>

</div>


{% endblock %}

