{% extends "dictionary/layout.html" %}

{% block content %}



<h3>Voor technische informatie over de e-WLD:</h3>

<address>
    dr. Henk van den Heuvel (H.vandenHeuvel@Let.ru.nl)
    Director CLST & Head of the Humanities Lab
</address>

<h3>Voor inhoudelijke informatie over de e-WLD:</h3>

<address>
    prof. dr. Nicoline van der Sijs (post@nicolinevdsijs.nl)
    Nederlandse Taal en Cultuur
</address>

<address>
    Radboud University<br />
    Erasmusplein 1<br />
    NL-6525 HT Nijmegen<br />
    Netherlands<br />
</address>

{% endblock %}
