{% extends "dictionary/layout.html" %}

{% block content %}

<div class="panel panel-default">
  <div class="panel-heading" data-toggle="collapse" data-target="#ddouble-area">
      <span>Alle dialecten die meerdere keren voorkomen...</span>
  </div>
  <!-- class="collapse" -->
  <div id="ddouble-area" class="collapse">
    {% if d_double %}
      <table>
        {% for item in d_double %}
          <tr>
            <td valign="top">{{item.name}}</td>
            <td valign="top">{{item.count}}</td>
            <td valign="top">
              {% for oCode in item.codes %}
                <a target="_blank" 
                   href="{% url 'lemmasearch' %}?dialectCity={{item.name}}&dialectCode={{oCode.nieuw}}">{{oCode.nieuw}}</a> ({{oCode.num}}){% if not forloop.last %}, {% endif %}
              {% endfor %}
            </td>
            <td valign="top" style="width: 250px;">{{item.afl_list}}</td>
          </tr>
        {% endfor %}
      </table>
    {% else %}
      <p>Er zijn geen dialectnamen die meerdere keren voorkomen.</p>
    {% endif %}
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading" data-toggle="collapse" data-target="#diacoord-area">
      <span>Alle dialecten die (nog) geen coördinaat hebben... ({{dc_list|length}})</span>
  </div>
  <!-- class="collapse" -->
  <div id="diacoord-area" class="collapse">
    {% if dc_list|length > 0 %}
      <table>
        {% for item in dc_list %}
          <tr><td valign="top">{{item.id}}</td><td valign="top">{{item.stad}}</td><td valign="top">{{item.nieuw}}</td></tr>
        {% endfor %}
      </table>
    {% else %}
      <p>Er zijn geen dialecten zonder coördinaat.</p>
    {% endif %}
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading" data-toggle="collapse" data-target="#kdouble-area">
      <span>Kloekecodes die naar meerdere plaatsen verwijzen...</span>
  </div>
  <!-- class="collapse" -->
  <div id="kdouble-area" class="collapse">
    {% if k_double %}
      <table>
        {% for item in k_double %}
          <tr>
            <td valign="top">{{item.code}}</td>
            <td valign="top">{{item.count}}</td>
            <td valign="top">
              {% for oCode in item.cities %}
                <a target="_blank" 
                   href="{% url 'lemmasearch' %}?dialectCity={{oCode.stad}}&dialectCode={{item.code}}">{{oCode.stad}}</a> ({{oCode.num}}){% if not forloop.last %}, {% endif %}
              {% endfor %}
            </td>
            <td valign="top" style="width: 250px;">{{item.afl_list}}</td>
          </tr>
        {% endfor %}
      </table>
    {% else %}
      <p>Er zijn geen kloekecodes die naar meerdere plaatsen verwijzen.</p>
    {% endif %}
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading" data-toggle="collapse" data-target="#dname-area">
      <span>Alle dialectnamen...</span>
  </div>
  <!-- class="collapse" -->
  <div id="dname-area" class="collapse">
    {% if d_list %}
      <table>
        {% for item in d_list %}
        <tr><td valign="top">{{item.id}}</td><td valign="top">{{item.stad}}</td><td valign="top">{{item.nieuw}}</td></tr>
        {% endfor %}
      </table>
    {% else %}
      <p>Er is geen lijst met dialectnamen.</p>
    {% endif %}
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading" data-toggle="collapse" data-target="#kloeke-area">
      <span>Kloekecodes op alfabetische volgorde...</span>
  </div>
  <!-- class="collapse" -->
  <div id="kloeke-area" class="collapse">
    {% if k_list %}
      <table>
        {% for item in k_list %}
        <tr><td valign="top">{{item.id}}</td><td valign="top">{{item.nieuw}}</td><td valign="top">{{item.stad}}</td></tr>
        {% endfor %}
      </table>
    {% else %}
      <p>Er is geen lijst met kloekecodes.</p>
    {% endif %}
  </div>
</div>




{% endblock content %}

