<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'dictionary/content/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'dictionary/content/site.css' %}" />
    <script src="{% static 'dictionary/scripts/modernizr-2.6.2.js' %}"></script>
    <script src="{% static 'dictionary/scripts/jquery-1.10.2.js' %}"></script>
    <script src="{% static 'dictionary/scripts/bootstrap.min.js' %}"></script>
    <script src="{% static 'dictionary/scripts/respond.js' %}"></script>
    <script src="{% static 'dictionary/scripts/diadict.js' %}"></script>

{% block extrajs %}

{% endblock %}

</head>

<body>
    {% include 'dictionary/topnav.html' %}

    {% block content %}
    <div class="container body-content">
      <div class="panel panel-default">
        <form name='adminsearch' id='adminsearch' action="" method='get' onsubmit="return do_search('#id_submit_button', 'admin', 'simple');" >
            <!-- EK: A sort-order specification is in a hidden form field, which is filled by JS:do_sort_column() -->
            <div class="hidden">
                <input name='sortOrder' class='form-control' value='woord' >
                <input name='search_type' class='form-control' value='woord'>
                <input id="submit_type" name='submit_type' class='form-control' value='simple'>
            </div>

            <!-- The top layer of searching -->
            <div class="row"><table><tr><td>&nbsp;</td></tr></table></div>
            <div id="searchdefault" class="row">
              <div class="col-sm-4">
                <div class='input-group'>
                    <label class='input-group-addon' 
                           data-toggle="popover" data-trigger="hover"
                           data-placement="right" data-content="Willekeurige tekens: ? (één) * (0 of meer). Groep tekens: [m-n]"
                           for='id_entry'>{{searchform.search.label}}</label>
                    <input name='search' class='form-control' {% if searchform.search.value %}value='{{searchform.search.value}}'{% endif %}>
                </div>
              </div>
              <div class="col-sm-4">
                <div class='input-group'>
                    <label class='input-group-addon' 
                           data-toggle="popover" data-trigger="hover"
                           data-placement="right" data-content="Willekeurige tekens: ? (één) * (0 of meer). Groep tekens: [m-n]"
                           for='id_lemma'>{{searchform.lemma.label}}</label>
                    <input name='lemma' class='form-control' {% if searchform.lemma.value %}value='{{searchform.lemma.value}}'{% endif %}>
                </div>
              </div>
              <div class="col-sm-4">
                <div class='btn-group'>
                    <!-- Make sure no button has the *name* 'submit', otherwise submit() cannot be used -->
                    <input class='btn btn-primary' type="submit" onclick="do_search(this, 'admin', 'simple');" name="submit_type" value="Zoek">
                    <input class='btn btn-default' type="submit" onclick="do_search(this, 'admin', 'Herstel');" name="submit_type" value="Herstel">
                </div>
              </div>
            </div>

            <!-- Collapsable area for fine-tuning -->
            <div class="row"><table><tr><td>&nbsp;</td></tr></table></div>
            <div class="panel panel-default">

              <div class="panel-heading" data-toggle="collapse" data-target="#query-area">Filteren...</div>

              <!-- class="collapse" -->
              <div id="query-area" class="collapse {% if not request.GET.search %} inert {% endif %}">


                <div id='searchformwell' class='well search-results-collapsable'>

                    <table class='table'>
                        <tr>
                          <td><div class='input-group'>
                              <label class='input-group-addon' for='id_code'>{{searchform.dialectCode.label}}</label>
                              <input name='dialectCode' class='form-control' {% if searchform.dialectCode.value %}value='{{searchform.dialectCode.value}}'{% endif %}>
                            </div>
                          </td>
                          <td>
                            <div class='input-group'>
                              <label class='input-group-addon' for='id_city'>{{searchform.dialectCity.label}}</label>
                              <input name='dialectCity' class='form-control' {% if searchform.dialectCity.value %}value='{{searchform.dialectCity.value}}'{% endif %}>
                            </div>

                            <div class='form-group' id='paginate_by'>
                            <label for='paginate_by'>Per pagina</label>
                            <select class='form-control' name="paginate_by">
                              {% for pag in paginateValues %}
                              <option {% if pag == paginateSize %} selected {% endif %}>{{pag}}</option>
                              {% endfor %}
                            </select>
                            </div>
                          </td>
                        </tr>

                    </table>





              </div>
            </div>
            </div>
        </form>
      </div>

    {% if object_list %}
      <h3>Overzicht</h3>
      <div class="row">
          <div class="col-sm-4"><span>Gevonden: </span><span>{{entrycount}}</span></div>
          <div class="col-sm-8">
          <span class="step-links">

          {% include 'dictionary/pagination.html' %}

          </span>
          </div>
      </div>
      <table class="table table-hover">
        <thead><tr><th>id</th><th>Woord</th><th>Trefwoord</th><th>Omschrijving</th><th>Dialect</th></tr></thead>
        <tbody>
        {% for ent in object_list %}
          <tr class="dict-entry">
            <td> {{ ent.id }} </td>
            <td class="entry-word">
              <div><a href="/{{app_prefix }}admin/dictionary/entry/{{ent.pk}}">{{ ent.woord}}</a></div>
              {% if ent.toelichting %}<div>({{ent.toelichting}})</div>{% endif %}
            </td>
            <td><span class="trefwoord">{{ent.trefwoord.woord}}</span>
              {% if ent.trefwoord.toelichting %}<span>({{ent.trefwoord.toelichting}})</span>{% endif %}
            </td>
            <td>Lemma: 
              <span class="lemma-name"><a href="/{{app_prefix }}admin/dictionary/lemma/{{ent.lemma.pk}}">{{ent.lemma.gloss}}</a> - </span>
              <span class="toelichting">{{ent.lemma.toelichting}}</span>
              <span class="lemma-bronnen">[{{ent.lemma.bronnenlijst}}]</span>
            </td>
            <td>Dialect:
              <span class="kloeke-code"><a href="/{{app_prefix}}admin/dictionary/dialect/{{ent.dialect.pk}}">{{ent.dialect.code}}</a></span>
              (<span class="kloeke-code">{{ent.dialect.nieuw}}</span>)
              <span class="kloeke-stad">{{ent.dialect.stad}}</span>
              {% if ent.kloeketoelichting %}<span class="kloeketoelichting">(kt: {{ent.kloeketoelichting}})</span>{% endif %}
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p>No entries are available.</p>
    {% endif %}

      <div class="pagination">
          <span class="step-links">

          {% include 'dictionary/pagination.html' %}

          </span>
      </div>
    </div>


{% endblock content %}

{% block scripts %}{% endblock %}


</body>
</html>