{% extends "dictionary/layout.html" %}

{% load static %}

{% block content %}

<div name="index"></div>


<div class="jumbotron">
    <h2>Elektronisch Woordenboek van de Brabantse Dialecten (e-WBD)</h2>
    <p class="lead"></p> 

</div>

<div class="row">
    <div class="col-md-7">
      <p>
        Het e-WBD bevat de inhoud van de drie delen van het <em>Woordenboek van de Brabantse dialecten</em> die in druk 
        in 31 afleveringen zijn verschenen tussen 1967 en 2005 (zie tabblad Overzichten). 
        Daarnaast zijn er in 1967 en 2000 twee afleveringen gepubliceerd die geen taalmateriaal bevatten, 
        maar inleidingen. 
      In het e-WBD kunnen geïnteresseerden de Brabantse <b>trefwoorden</b> opzoeken voor bepaalde <b>begrippen</b>, 
        zoals ‘appelstroop’ of ‘persstro’. Daarbij worden ook de verschillende fonetische varianten, 
        de zogenoemde <b>dialectopgaven</b>, van de trefwoorden getoond.</p>

    <p>Het is ook mogelijk alle trefwoorden van één bepaalde Brabantse <b>plaats</b> op te zoeken, 
      hetzij door te zoeken op de plaatsnaam, hetzij door te zoeken op de <b>Kloekecode</b> van de bewuste plaatsnaam. 
      De <a href="http://www.meertens.knaw.nl/kloeke/">Kloekecodes</a> zijn unieke nummeringen die 
      de dialectoloog G.G. Kloeke in 1926 heeft toegekend aan de plaatsen 
      en gehuchten in Nederland, Vlaanderen, Frans-Vlaanderen en het noordwesten van Duitsland. 
      Ze bestaan uit een hoofdletter gevolgd door drie cijfers met soms een kleine letter daaraan toegevoegd. 
      Omdat de oorspronkelijke nummering in de loop van de tijd is uitgebreid, bestaan er een naast de oude 
      Kloekecodes ook nieuwe Kloekecodes; in de zoekapplicatie worden beide versies getoond.</p>

    <p>Het e-WBD bevat 15.794 begrippen, 140.091 trefwoorden en 1.704.116 dialectopgaven, verzameld in ruim 2950 Brabantse plaatsen 
      ofwel dialecten (iedere plaats vertegenwoordigt een eigen dialect).</p>

    <p>De website met e-WBD is op 14 december 2017 feestelijk gelanceerd tijdens een dialectencongres 
      in Den Bosch. De website vormt een aanvulling van de eind 2016 gelanceerde website 
      <a href="http://www.e-wld.nl/">e-WLD</a>, 
      waarop het Woordenboek van de Limburgse Dialecten doorzoekbaar is gemaakt.

      </p>
  </div>
  <div class="col-md-5">
    <a target="_blank" href="{% static 'dictionary/content/taalkaart-wbd.jpg' %}">
    <img src="{% static 'dictionary/content/taalkaart-wbd.jpg' %}" 
         alt="Hoofdgebieden van de Brabantse dialecten" 
         title="Hoofdgebieden van de Brabantse dialecten
(Noord-Brabant, Antwerpen, Vlaams-Brabant, Brussel)" 
         style="float:right;height:400px;" ></a>
  </div>
</div>


{% endblock %}
