  <!-- Checkboxes to indicate whether we want to see the dialect codes or the dialect city names -->
    <div class="row">
      <div class="col-sm-1">
      </div>
      <div class="col-sm-8">
        <label >Dialectweergave:</label>
      <!--<div id="dialectmode" class="row">-->
        <label class="radio-inline active"><input id="input-dialect-stad" value="stad" type="radio" name="optdialect" checked=""  onclick="do_dialect(this);">Plaats</label>
        <label class="radio-inline"><input id="input-dialect-code" value="code" type="radio" name="optdialect" onclick="do_dialect(this);">Kloekecode</label>
        <label class="radio-inline"><input id="input-dialect-alles" value="alles" type="radio" name="optdialect" onclick="do_dialect(this);">Plaats en Kloeke</label>
      </div>
      <div class="col-sm-2">
        <label class="checkbox-inline"><input id="input-dialect-additional" value="additional" type="checkbox" name="optadditional" onclick="do_additional(this);" />Dialectlijst</label>
      </div>
    </div>
