{% extends "dictionary/layout.html" %}

{% load staticfiles %}

{% block content %}


<div class="aflevering-overview">

  <div class="row">
    <div class="col-md-12" align="center">
    <a target="_blank" href="{% static 'dictionary/content/boeken-wgd.jpg' %}">
      <img src="{% static 'dictionary/content/boeken-wgd.jpg' %}" alt="Alle delen op een rij" title="Alle delen op een rij" style="height:500px;">
    </a>
    </div>
  </div>

  <p><span class="aflevering">&nbsp;</span></p>

  {% for deel in object_list %}
    <p><b>
      <span>Woordenboek van de Gelderse dialecten, Deel {{deel.nummer}}.</span>
      <span class="deel">{{deel.titel}}</span>
    </b></p>

    <!-- Take all the [aflevering] elements for this [deel] and divide them over their [lemma] -->
    {% regroup deel.deel_afleveringen.all|dictsort:"get_number" by aflnum as afl_list %}
    {% for afl in afl_list %}
      <p class="citation-line">
        {% for deze in afl.list %}
          {% spaceless %}
          <span class="citation-intro">WGD {{deel.romeins}}</span>
          
          <span class="citation-number">{% if deze.sectietitel != "" %}, {{deze.sectie}}.{% else %}. {% endif %}{{deze.aflnum}}: </span>
          <span class="citation-author">{{deze.auteurs}}, </span>
          <i>
            <span class="citation-title-intro">WGD {{deel.romeins}}, </span>
            {% if deze.inleiding %}<span class="citation-title-inleiding">Inleiding en </span>{% endif %}
            {% if deze.sectietitel != "" %}
            <span class="citation-title-sectienummer">Sectie {{deze.sectie}}, </span>
            <span class="citation-title-sectietitel">{{deze.sectietitel}}, </span>
            {% endif %}
            <span class="citation-title-aflnum">Aflevering {{deze.aflnum}}. </span>
            <span class="citation-title-afltitel">{{deze.afltitel}}</span>
          </i>
          <span class="citation-publication">, {{deze.plaats}} {{deze.jaar}}.</span>
          {% endspaceless %}
          {% if deze.get_pdf %}
          <span class="citation-pdf">(<a href="/{{app_prefix}}static/dictionary/content/pdf/{{deze.get_pdf}}">pdf</a>)</span>
          {% endif %}
        {% endfor %}
      </p>
    {% endfor %}

  {% endfor %}

</div>


{% endblock %}

