{% extends "dictionary/layout.html" %}

{% block content %}



<h3>Voor technische informatie over de e-WGD:</h3>

<address>
    dr. Henk van den Heuvel (H.vandenHeuvel@Let.ru.nl)<br />
    Director CLST & Head of the Humanities Lab
</address>

<h3>Voor inhoudelijke informatie over de e-WGD:</h3>

<address>
    prof. dr. Roeland van Hout (r.v.hout@let.ru.nl)<br />
    Toegepaste taalwetenschap en variatielinguïstiek
</address>

<address>
    Radboud University<br />
    Erasmusplein 1<br />
    NL-6525 HT Nijmegen<br />
    Netherlands<br />
</address>

{% endblock %}
