{% extends "dictionary/layout.html" %}

{% load static %}

{% block content %}

<div name="index"></div>


<div class="jumbotron">
    <h2>Elektronisch Woordenboek van de Gelderse Dialecten (e-WGD)</h2>
    <p class="lead"></p> 

</div>

<div class="row">
    <div class="col-md-6">
      <p>
        Het e-WGD bevat de dialectgegevens die verzameld zijn in het project van het 
        <em>Woordenboek van de Gelderse dialecten</em>. 
        Het betreft de dialecten van de Rivierenstreek en de Veluwe, twee Gelderse gebieden die worden aangegeven als de donkergekleurde gebieden op de bijgaande kaart. 
        Voor de twee licht gekleurde gebieden, de Liemers en de Achterhoek, is het e-WALD beschikbaar: 
        het electronisch <em>Woordenboek van de Achterhoekse en Liemerse dialecten</em>. 
        Daarmee wordt de hele provincie Gelderland overdekt.
      </p>
      <p>
        De zes gedrukte afleveringen van de Woordenboeken van de Gelderse Dialecten (WGD) zijn samengesteld tussen 2001 en 2006 (zie Tabblad Overzichten). 
        De redacteuren waren dr. Charlotte Giesbers en dr. Harrie Scholtmeijer. 
        De woordenboeken beschrijven specifieke delen van de algemene woordenschat, namelijk het huis, de mens en de wereld. 
        De informatie in de woordenboeken is afkomstig van een groot aantal informanten, die vrijwillig de vragenlijsten invulden.
      </p>
      <p>
        Het e-WGD omvat meer materiaal dan de gedrukte delen. 
        Er is met de vragenlijsten namelijk extra materiaal verzameld, dat om verschillende redenen niet was opgenomen in de gedrukte afleveringen van het WGD. 
        De website bevat al het bruikbare materiaal van de vragenlijsten. 
        In de gedrukte afleveringen is daarentegen nog gebruik gemaakt van gegevens uit een oudere dialectenquête (SGV) en van lokale woordenboeken.
        Het e-WGD is beschikbaar vanaf mei 2022.
      </p>
      <p>
        In het e-WGD kunnen geïnteresseerden de Gelderse <b>trefwoorden</b> opzoeken voor bepaalde <b>begrippen</b>,
        zoals ‘mond’ of ‘Vlaamse gaai’.
        Daarbij worden ook de verschillende uitspraakvarianten, de zogenoemde <b>dialectopgaven</b>, van de trefwoorden getoond.
      </p>
      <p>
        Het is ook mogelijk alle trefwoorden van één bepaalde Gelderse <b>plaats</b> op te zoeken, 
        hetzij door te zoeken op de plaatsnaam, hetzij door te zoeken op de <b>Kloekecode</b> van de bewuste plaatsnaam. 
        De <a href="http://www.meertens.knaw.nl/kloeke/">Kloekecodes</a> zijn unieke nummeringen die 
        de dialectoloog G.G. Kloeke in 1926 heeft toegekend aan de plaatsen 
        en gehuchten in Nederland, Vlaanderen, Frans-Vlaanderen en het noordwesten van Duitsland. 
        Ze bestaan uit een hoofdletter gevolgd door drie cijfers met soms een kleine letter daaraan toegevoegd. 
        Omdat de oorspronkelijke nummering in de loop van de tijd is uitgebreid, bestaan er een naast de oude 
        Kloekecodes ook nieuwe Kloekecodes; in de zoekapplicatie wordt alleen de nieuwe Kloekecode getoond.
      </p>
      <p>
        Het e-WGD bevat 3.969 begrippen, 63.122 trefwoorden en 197.718 dialectopgaven, verzameld in ruim 450 Gelderse plaatsen 
        ofwel dialecten (iedere plaats vertegenwoordigt een eigen dialect).
      </p>
      <p>
        Eerder zijn de websites van <a href="http://www.e-wbd.nl/">e-WBD</a> (Brabant) en 
        <a href="http://www.e-wld.nl/">e-WLD</a> (Limburg) beschikbaar gekomen.
      </p>


  </div>
  <div class="col-md-6">
    <a target="_blank" href="{% static 'dictionary/content/taalkaart-wgd-large.jpg' %}">
    <img src="{% static 'dictionary/content/taalkaart-wgd.jpg' %}" 
         alt="Hoofdgebieden van de Gelderse dialecten" 
         title="Hoofdgebieden van de Gelderse dialecten (TODO: opsomming...)" 
         style="float:right;width: 100%;" ></a>
    <p>
      Kaart van de provincie Gelderland met vier dialectgebieden. 
      De donkerder gekleurde gebieden zijn de Rivierenstreek in het zuiden en de Veluwe in het noorden. 
      Deze gebieden vallen onder het Woordenboek van de Gelderse Dialecten, het WGD. 
      De twee licht getinte gebieden, de Liemers en de Achterhoek, worden gedekt door het Woordenboek van de Achterhoekse en Liemerse dialecten, het WALD. 
      De digitale versies zijn beschikbaar als e-WGD en e-WALD.
    </p>
  </div>
</div>


{% endblock %}
