{% extends "dictionary/layout.html" %}

{% block content %}
      <div class="panel panel-default">
        <form name='dialectsearch' id='dialectsearch' action="" method='get' onsubmit="return do_search('#id_submit_button', 'mijn', 'simple');" >
            <!-- EK: A sort-order specification is in a hidden form field, which is filled by JS:do_sort_column() -->
            <div class="hidden">
                <input name='sortOrder' class='form-control' value='stad' >
                <input name='search_type' class='form-control' value='stad'>
                <input id="submit_type" name='submit_type' class='form-control' value='simple'>
            </div>

            <!-- The top layer of searching -->
            <div class="row"><table><tr><td>&nbsp;</td></tr></table></div>


            <div id="searchdefault" class="row">
              <div class="col-sm-3">
                <label>&nbsp;</label>
                <div class='input-group'>
                    <label class='input-group-addon' 
                           data-toggle="popover" data-trigger="hover"
                           data-placement="right" data-content="Willekeurige tekens: ? (één) * (0 of meer). Groep tekens: [m-n]"
                           for='id_entry'>{{searchform.search.label}}</label>
                    <input name='search' class='form-control' {% if searchform.search.value %}value='{{searchform.search.value}}'{% endif %}>
                </div>
              </div>
              <div class="col-sm-3">
                <label>&nbsp;</label>
                <div class='input-group'>
                    <label class='input-group-addon' 
                           data-toggle="popover" data-trigger="hover"
                           data-placement="right" data-content="Willekeurige tekens: ? (één) * (0 of meer). Groep tekens: [m-n]"
                           for='id_woord'>{{searchform.locatie.label}}</label>
                    <input name='locatie' class='form-control' {% if searchform.locatie.value %}value='{{searchform.locatie.value}}'{% endif %}>
                </div>
              </div>
              <div class="col-sm-3">
                <div><label>&nbsp;</label></div>
                <div class='btn-group'>
                    <!-- Make sure no button has the *name* 'submit', otherwise submit() cannot be used -->
                    <input class='btn btn-primary' type="submit" onclick="do_search(this, 'mijn', 'simple');" name="submit_type" value="Zoek">
                    <input class='btn btn-default' type="submit" onclick="do_search(this, 'mijn', 'Herstel');" name="submit_type" value="Herstel">
                </div>
              </div>
              <div class="col-sm-2">
                <div class='form-group' id='paginate_by'>
                  <label for='paginate_by'>Per pagina</label>
                  <select class='form-control' name="paginate_by">
                    {% for pag in paginateValues %}
                    <option {% if pag == paginateSize %} selected {% endif %}>{{pag}}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
            </div>

        </form>
      </div>

    {% if object_list %}
      <h3>Mijnen</h3>
      <div class="row">
          <div class="col-sm-4"><span>Gevonden: </span><span>{{entrycount}}</span></div>
          <div class="col-sm-8">
          <span class="step-links">

          {% include 'dictionary/pagination.html' %}

          </span>
          </div>
      </div>
      <table class="table table-hover">
        <thead><tr><th class="hidden">id</th><th>Mijn</th><th>Locatie</th><th>Toelichting</th></tr></thead>
        <tbody>
        {% for mine in object_list %}
          <tr class="dict-entry">
            <td class="hidden"> {{ mine.id }}</td>
            <td>
              <span class="mijn-naam"><a href="{% url 'minesearch' %}?search={{mine.naam}}">{{mine.naam}}</a></span>
            </td>
            <td>
              <span class="mijn-locatie">{{mine.locatie}}</span>
            </td>
            <td>
              <span class="toelichting">{{mine.toelichting}}</span>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p>Er zijn geen mijnen om te tonen.</p>
    {% endif %}

      <div class="pagination">
          <span class="step-links">

          {% include 'dictionary/pagination.html' %}

          </span>
      </div>


{% endblock content %}
